* {
    transition: 0.5s ease-in-out !important;
}
html {
}
body {
    margin: 0;
    overflow: hidden;
}
a {
    color: #000;
    text-decoration: none;
}

/* navbar */
.navbar {
    position: sticky;
    height: 2rem;
    top: 0;
    padding: 1rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 10;
}
.navbar .homeLink, .navbar .title, .navbar .settings {
    flex: 33%;
}
.navbar .homeLink {
    text-align: left;
}
.navbar .homeLink i {
    font-size: 2rem;
}
.navbar .settings {
    justify-content: flex-end;
}
#navbar1 {
    background-color: #536366;
}
#navbar2 {
    background-color: #524733;
}
#navbar3 {
    background-color: #6d605e;
}
.navbar h1, .navbar a, .navbar p {
    color: #fff;
}
.navbar img, .navbar a, .navbar div {
    height: -webkit-fill-available;
}
.navbar div {
    display: flex;
}
.navbar div h1 {
    margin-right: 1rem;
}
.navbar h1 {
    margin: 0;
}
#popups {
    color: #000;
    background-color: #afafaf;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/*background images*/
.backgroundImage {
    width: 100vw;
    /*height: 100vh;*/
    height: -webkit-fill-available;
    position: absolute;
    background-image: url("img/class.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    overflow: hidden;
}
.backgroundImage2 {
    background-image: url("img/room.png");
}
.backgroundImage3 {
    background-image: url("img/meeting.png");
}
#arrowDown {
    visibility: visible;
    position: fixed;
    bottom: 15px;
    width: 100%;
    text-align: center;
    z-index: 10;
    transform: scale(6,3);
    color: rgba(252, 245, 235, 0.5);
    cursor: pointer;
}
#arrowDown:hover {
    color: #fcf5ec;
}

/* scenarios */
#scenarioMain {
    /*height: 100vh;*/
    /*height: calc(100vh - 4rem);*/
    height: calc(100vh - 3rem);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    backdrop-filter: blur(3px);
    background-color: #00000045;
}

.block, .backgroundBlock {
    height: calc((100vh - 4rem) / 3);
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    padding: 0 5px;
    align-items: center;
}
.blockRight {
    margin-left: auto;
    flex-direction: row-reverse;
}
.top, .bottom, .bottom2 {
    opacity: 0.5;
}
.middle .charTxt, .middle .backgroundTxt {
    box-shadow: 0 0 15px 5px #fcf5ec;
}

/*animations*/
@keyframes fade-in-right {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fade-in-left {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*bottom animation*/
.block .char {
    transform: translateX(-100vw);
    /*opacity: 0;*/
}
.block .charTxt {
    /*transform: translateX(100vw);*/
    opacity: 0;
}
.bottom .char {
    animation: fade-in-right 1s ease-in-out forwards;
}
.bottom .charTxt {
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 1s;
}
/*right side*/
.blockRight .char {
    transform: translateX(100vw);
    /*opacity: 0;*/
}
.blockRight .charTxt {
    /*transform: translateX(-100vw);*/
    opacity: 0;
}
.bottom.blockRight .char {
    animation: fade-in-left 1s ease-in-out forwards;
}
.bottom.blockRight .charTxt {
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 1s;
}
/*commentary*/
.block .backgroundTxt {
    transform: translateX(0);
    opacity: 0;
}
.bottom .backgroundTxt {
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 0.5s;
}


/*no animation when going back*/
.bottom2 .char {
    transform: translateX(0);
    /*opacity: 1;*/
}
.bottom2 .charTxt {
    /*transform: translateX(0);*/
    opacity: 1;
}
/*no animation for top and middle*/
.top .char,
.middle .char {
    transform: translateX(0);
    /*opacity: 1;*/
}
.top .charTxt,
.middle .charTxt {
    /*transform: translateX(0);*/
    opacity: 1;
}
.bottom2 .backgroundTxt, .top .backgroundTxt, .middle .backgroundTxt  {
    opacity: 1;
}
/*top and middle animation on 1st page*/
.block:nth-child(1) .char,
.block:nth-child(2) .char,
.block:nth-child(3) .char {
    transform: translateX(-100vw);
    animation: fade-in-right 1s ease-in-out forwards;
}
.blockRight:nth-child(1) .char,
.blockRight:nth-child(2) .char,
.blockRight:nth-child(3) .char {
    transform: translateX(100vw);
    animation: fade-in-left 1s ease-in-out forwards;
}
.block:nth-child(1) .charTxt, .block:nth-child(1) .backgroundTxt,
.block:nth-child(2) .charTxt, .block:nth-child(2) .backgroundTxt,
.block:nth-child(3) .charTxt, .block:nth-child(3) .backgroundTxt {
    /*transform: translateX(100vw);*/
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 1s;
}
.blockRight:nth-child(1) .charTxt, .blockRight:nth-child(1) .backgroundTxt,
.blockRight:nth-child(2) .charTxt, .blockRight:nth-child(2) .backgroundTxt,
.blockRight:nth-child(3) .charTxt, .blockRight:nth-child(3) .backgroundTxt {
    /*transform: translateX(-100vw);*/
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 1s;
}
.block:nth-child(2) .char {
    animation-delay: 2.5s;
}
.block:nth-child(2) .charTxt, .block:nth-child(2) .backgroundTxt {
    animation-delay: 3.5s;
}
.block:nth-child(3) .char {
    animation-delay: 5s;
}
.block:nth-child(3) .charTxt, .block:nth-child(3) .backgroundTxt {
    animation-delay: 6s;
}

/*first page onload - appearance*/
.block:nth-child(1) {
    opacity: 1;
}
.block:nth-child(1) .charTxt {
    box-shadow: 0 0 15px 5px #fcf5ec;
}

/*dialogs*/
.charTxt, .backgroundTxt {
    position: relative;
    margin: 1rem;
    border-radius: 30px;
    height: fit-content;
    min-height: 3rem;
    min-width: 3rem;
}
.charTxt p {
    min-height: 1.5rem;
}
.charTxt {
    background-color: #fcf5eb;
}
.backgroundTxt {
    background-color: #fcf5eb;
}
.charTxt:after {
    content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -36px;
    right: auto;
    top: auto;
    bottom: 22%;
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: transparent #fcf5eb transparent transparent;
}
/*right blocks*/
.blockRight .charTxt {
    background-image: linear-gradient(to left, #fcf5eb, rgba(252, 244, 233, 0.5));
}
.blockRight .charTxt:after {
    left: auto;
    right: -36px;
    border-width: 40px 40px 0 0;
    border-color: #fcf5eb transparent transparent transparent;
}
/*end blocks*/
.endBlock {
    display: flex;
    opacity: 1 !important;
}
.endBlock .scenarioImg {
    width: 10rem;
    height: 10rem;
    box-shadow: 0 0 15px 5px #fcf5ec !important;
    opacity: 0;
}
.endBlock .scenarioTitle {
    color: #fff;
    opacity: 0;
}
.endBlock.bottom .scenarioImg, .endBlock.bottom .scenarioTitle {
    animation: fade-in 1s ease-in-out forwards;
}
.endBlock.bottom .scenario:nth-child(1) .scenarioTitle {
    animation-delay: 0.5s;
}
.endBlock.bottom .scenario:nth-child(2) .scenarioImg {
    animation-delay: 1.5s;
}
.endBlock.bottom .scenario:nth-child(2) .scenarioTitle {
    animation-delay: 2s;
}


/* characters */
.char {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.charName {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}
.charImg {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    padding: 5px;
}
.charImgRight {
    transform: scaleX(-1);
}
.charTxt, .backgroundTxt,
.endBlock .scenarioTitle {
    justify-content: center;
    padding: 0 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.backgroundBlock {
    border-radius: 50px;
    margin: auto;
}
.backgroundTxt {
    font-style: italic;
}
.backgroundBlock .char {
    display: block;
    height: 75%;
}
.backgroundImg {
    width: 100%;
    height: -webkit-fill-available;
    border-radius: 30px;
}

/* individual characters */
.pearson img {
    background-color: #a19d97;
}
.anna img {
    background-color: #ff9f7c;
}
.sofia img {
    background-color: #a52a2a;
}
.limei img {
    background-color: #dc8cc2;
}
.kacper img {
    background-color: #a6eaa6;
}
.sara img {
    background-color: #e1b68b;
}
.hana img {
    background-color: #efd793;
}
.mary img {
    background-color: #cc7888;
}
.luke img {
    background-color: #1e4b1c;
}

/* homepage */
#homeHtml, #homeBody {
    height: -webkit-fill-available;
}
#homeBody {
    background-image: linear-gradient(to right, #d8fbf9, #dbf9f0, #e1f7e7, #e8f4e1, #eff1dc, #f3eeda, #f6ecd8, #f9e9d8, #fae7d7, #fce5d7, #fce3d7, #fde1d8);

}
/*navbar*/
#navbarHomepage, footer {
    /*background-color: #00000045;*/
}
#navbarHomepage h1, #navbarHomepage .navbar a, #navbarHomepage .navbar p {
    color: #000;
}
#navbarHomepage .title {
    /*text-align: left;*/
    text-align: center;
}
#navbarHomepage #popups {
    background-color: #fff;
}
#navbarHomepage .title, #navbarHomepage .settings {
    flex: auto;
}
/*content*/
#homeMain {
    height: calc(100% - 8rem);
    /*background-color: rgba(0, 0, 0, 0.47);*/
    /*background-image: linear-gradient(to right, #d8fbf9, #c3e9dd, #b5d5bf, #abc1a1, #a6ac84, #aea881, #b5a57f, #bba17f, #ceb095, #dfbfab, #efd0c1, #fde1d8);*/
    /*background-image: linear-gradient(to right, #d8fbf9, #dbf9f0, #e1f7e7, #e8f4e1, #eff1dc, #f3eeda, #f6ecd8, #f9e9d8, #fae7d7, #fce5d7, #fce3d7, #fde1d8);*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2rem;
}
#scenarios {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.scenarioImg {
    object-fit: cover;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    /*transition: 0.5s ease-in-out;*/
}
.scenario:nth-child(1) .scenarioImg {
    box-shadow: 0 0 15px 5px #accac8;
}
.scenario:nth-child(2) .scenarioImg {
    box-shadow: 0 0 15px 5px #cab484;
}
.scenario:nth-child(3) .scenarioImg {
    box-shadow: 0 0 15px 5px #f6beb9;
}
.scenario .scenarioImg:hover {
    /*box-shadow: 0 0 15px 5px #fcf5ec;*/
    /*border: 1px solid white;*/
}
.scenario, .scenarioTitle {
    text-align: center;
}
/*footer*/
footer {
    position: absolute;
    width: -webkit-fill-available;
    bottom: 0;
    height: 4rem;
    padding: 0 1rem;
    font-size: 0.8rem;
}

/*popups*/
div:where(.swal2-container) div:where(.swal2-popup) {
    border-radius: 30px !important;
}
div:where(.swal2-container) div:where(.swal2-popup) {
    padding: 0 !important;
}
div:where(.swal2-container) div:where(.swal2-actions) {
    margin: 1.25em auto !important;
}
div:where(.swal2-container) .swal2-html-container {
    margin: 1em 1.6em !important;
}
div:where(.swal2-container) button:where(.swal2-close) {
    color: #afafaf !important;
}
div:where(.swal2-container) button:where(.swal2-close):hover {
    color: #f27474 !important;
}
div:where(.swal2-container) button:where(.swal2-close):focus,
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: none !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm,
div:where(.swal2-container) button:where(.swal2-styled).swal2-deny {
    coloe: #000 !important;
    background-color: #c36e66 !important;
    border-radius: 30px !important;
}


/*responsiveness*/
@media screen and (max-width: 1024px) {
    .navbar .homeLink, .navbar .title, .navbar .settings {
        flex: auto;
    }
}

@media screen and (max-width: 768px) {
    #arrowDown {
        transform: scale(5,2.5);
        bottom: 10px;
    }
    .charImg, .endBlock .scenarioImg {
        width: 8rem;
        height: 8rem;
    }
    .charName, .title {
        font-size: 1.3rem;
    }
    .charTxt, .backgroundTxt,
    .endBlock .scenarioTitle {
        font-size: 1.3rem;
        line-height: 1.3rem;
        min-height: 2.3rem;
        min-width: 2.3rem;
    }
    .charTxt p {
        min-height: 1.3rem;
    }
    .charTxt:after {
        border-width: 0 30px 30px 0;
        left: -26px;
    }
    .blockRight .charTxt:after {
        right: -26px;
        border-width: 30px 30px 0 0;
    }

    #swal2-html-container h3 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 576px) {
    #arrowDown {
        transform: scale(4,2);
    }
    .navbar {
        padding: 1rem 0.7rem !important;
    }
    .charImg, .endBlock .scenarioImg {
        width: 7rem;
        height: 7rem;
    }
    .charName {
        font-size: 1.1rem;
    }
    .charTxt, .backgroundTxt,
    .endBlock .scenarioTitle {
        font-size: 1.1rem;
        line-height: 1.1rem;
        padding: 0 0.7rem;
        margin: 0.7rem;
        min-height: 2.1rem;
        min-width: 2.1rem;
    }
    .charTxt p {
        min-height: 1.1rem;
        margin: 0.5rem 0;
    }
    .charTxt:after {
        border-width: 0 20px 20px 0;
        left: -16px;
    }
    .blockRight .charTxt:after {
        right: -16px;
        border-width: 20px 20px 0 0;
    }

    #swal2-html-container h3 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 1.2rem;
    }
    #popups {
        font-size: 0.7rem;
        width: 4.5rem;
    }
    .charImg, .endBlock .scenarioImg {
        width: 6rem;
        height: 6rem;
    }
    .charName{
        font-size: 0.9rem;
    }
    .charTxt, .backgroundTxt,
    .endBlock .scenarioTitle {
        font-size: 0.9rem;
        line-height: 0.9rem;
        min-height: 1.9rem;
        min-width: 1.9rem;
    }
    .charTxt p {
        min-height: 0.9rem;
    }
    .charTxt:after {
        border-width: 0 15px 15px 0;
        left: -11px;
    }
    .blockRight .charTxt:after {
        right: -11px;
        border-width: 15px 15px 0 0;
    }
    /* homepage */
    footer {
        font-size: 0.9rem;
        padding: 0 0.7rem;
    }

    #swal2-html-container h3 {
        font-size: 1.1rem;
    }
}


  
  
  
  
  
