* {
    /*font-family: "Alegreya", Verdana, Helvetica, Arial, Geneva, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: IBM Plex Serif,sans-serif;*/

}
body {
    margin: 0;
    overflow: hidden;
}
a {
    color: #000;
    text-decoration: none;
}

/* navbar */
.navbar {
    position: sticky;
    height: 2rem;
    top: 0;
    padding: 1rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 10;
    gap: 10px;
}
.navbar .homeLink, .navbar .settings {
    flex: 25%;
}
.navbar .title {
    flex: 50%;
}
.navbar .homeLink {
    text-align: left;
}
.navbar .homeLink i {
    font-size: 2rem;
}
.navbar .settings {
    justify-content: flex-end;
}
#navbar1 {
    /*background-color: #536366;*/
    background-color: #363f3f;
}
#navbar2 {
    /*background-color: #524733;*/
    background-color: #282319;
}
#navbar3 {
    /*background-color: #6d605e;*/
    background-color: #403c3a;
}
.navbar h1, .navbar a, .navbar p {
    color: #fff;
}
.navbar img, .navbar a, .navbar div {
    height: 100%;
    height: -webkit-fill-available;
}
.navbar div {
    display: flex;
}
.navbar div h1 {
    margin-right: 1rem;
}
.navbar h1 {
    margin: 0;
}
#popups {
    color: #000;
    background-color: #afafaf;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/*background images*/
.backgroundImage {
    width: 100vw;
    height: 100%;
    height: -webkit-fill-available;
    position: absolute;
    background-image: url("img/LectureTheatre.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    overflow: hidden;
}
.backgroundImage2 {
    background-image: url("img/CommonSpace.png");
}
.backgroundImage3 {
    background-image: url("img/StaffRoom.png");
}
#arrowDown {
    visibility: visible;
    position: fixed;
    bottom: 15px;
    width: 100%;
    text-align: center;
    z-index: 10;
    transform: scale(6,3);
    color: rgba(252, 245, 235, 0.5);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
#arrowDown:hover {
    color: #fcf5ec;
}

/*!* scenarios *!*/
#scenarioMain {
    height: calc(100vh - 4rem);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.75);
}

.block, .backgroundBlock {
    height: calc((100vh - 4rem) / 3);
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    padding: 0 5px;
    align-items: center;
}
.blockRight {
    margin-left: auto;
    flex-direction: row-reverse;
}
.top, .bottom, .bottom2 {
    opacity: 0.5;
}
.middle .charTxt, .middle .backgroundTxt {
    box-shadow: 0 0 15px 5px #fcf5ec;
}

/*animations*/
@keyframes fade-in-right {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fade-in-left {
    from {
        transform: translateX(100vw);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*bottom animation*/
.block .char {
    transform: translateX(-100vw);
}
.block .charTxt {
    opacity: 0;
}
.bottom .char {
    animation: fade-in-right 1s ease-in-out forwards;
}
.bottom .charTxt {
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 1s;
}
/*right side*/
.blockRight .char {
    transform: translateX(100vw);
}
.blockRight .charTxt {
    opacity: 0;
}
.bottom.blockRight .char {
    animation: fade-in-left 1s ease-in-out forwards;
}
.bottom.blockRight .charTxt {
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 1s;
}
/*commentary*/
.block .backgroundTxt {
    transform: translateX(0);
    opacity: 0;
}
.bottom .backgroundTxt {
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 0.5s;
}


/*no animation when going back & for top and middle on 1st page*/
.block.bottom2 .char, .block.top .char, .block.middle .char, .block.hidden .char {
    transform: translateX(0);
}
.bottom2 .charTxt, .top .charTxt, .middle .charTxt,
.bottom2 .backgroundTxt, .top .backgroundTxt, .middle .backgroundTxt,
.hidden .charTxt, .hidden .backgroundTxt {
    opacity: 1;
}
.block:nth-child(1) .char:nth-child(1),
.block:nth-child(1) .char:nth-child(2),
.block:nth-child(1) .char:nth-child(3),
.block:nth-child(1) .char:nth-child(4) {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}
.block:nth-child(1) .charTxt, .block:nth-child(1) .backgroundTxt,
.block:nth-child(2) .charTxt, .block:nth-child(2) .backgroundTxt,
.block:nth-child(3) .charTxt, .block:nth-child(3) .backgroundTxt,
.blockRight:nth-child(1) .charTxt, .blockRight:nth-child(1) .backgroundTxt,
.blockRight:nth-child(2) .charTxt, .blockRight:nth-child(2) .backgroundTxt,
.blockRight:nth-child(3) .charTxt, .blockRight:nth-child(3) .backgroundTxt {
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 1s;
}
.block:nth-child(1) .char:nth-child(2) {
    animation-delay: 0.5s;
}
.block:nth-child(1) .char:nth-child(3) {
    animation-delay: 1s;
}
.block:nth-child(1) .char:nth-child(4) {
    animation-delay: 1.5s;
}
.block:nth-child(2) .charTxt, .block:nth-child(2) .backgroundTxt {
    animation-delay: 2.25s;
}
.block:nth-child(3) .charTxt, .block:nth-child(3) .backgroundTxt {
    animation-delay: 3.5s;
}

/*first page onload - appearance*/
.characters .char {
    transform: translateX(0);
    opacity: 1;
}
.block:nth-child(1), .block:nth-child(3):not(.top) {
    opacity: 1;
}
.block:nth-child(2) .backgroundTxt, .block:nth-child(3) .backgroundTxt {
    box-shadow: 0 0 15px 5px #fcf5ec;
}

/*dialogs*/
.charTxt, .backgroundTxt {
    position: relative;
    margin: 1rem;
    border-radius: 30px;
    height: fit-content;
    min-height: 3rem;
    min-width: 3rem;
}
.charTxt p {
    min-height: 1.5rem;
}
.charTxt em {
    display: block;
    margin: 0.5rem 0;
}
.charTxt, .backgroundTxt {
    background-color: #fcf5eb;
}
.charTxt:after {
    content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -33px;
    right: auto;
    top: auto;
    bottom: 22%;
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: transparent #fcf5eb transparent transparent;
}
/*right blocks*/
.blockRight .charTxt {
    background-image: linear-gradient(to left, #fcf5eb, rgba(252, 244, 233, 0.5));
}
.blockRight .charTxt:after {
    left: auto;
    right: -33px;
    border-width: 40px 40px 0 0;
    border-color: #fcf5eb transparent transparent transparent;
}
/*end blocks*/
.endBlock {
    display: flex;
    opacity: 1 !important;
}
.endBlock .scenarioImg {
    width: 10rem;
    height: 10rem;
    box-shadow: 0 0 15px 5px #fcf5ec !important;
    opacity: 0;
}
.endBlock .scenarioTitle {
    color: #fff;
    opacity: 0;
}
.endBlock.bottom .scenarioImg, .endBlock.bottom .scenarioTitle {
    animation: fade-in 1s ease-in-out forwards;
}
.endBlock.bottom .scenario:nth-child(1) .scenarioTitle {
    animation-delay: 0.5s;
}
.endBlock.bottom .scenario:nth-child(2) .scenarioImg {
    animation-delay: 1.5s;
}
.endBlock.bottom .scenario:nth-child(2) .scenarioTitle {
    animation-delay: 2s;
}


/* characters */
/*1st page*/
.characters {
    display: flex;
    justify-content: space-evenly;
}
.setting .backgroundTxt p, .storyline .backgroundTxt p {
    margin-top: 0;
}
.setting .backgroundTxt h4, .storyline .backgroundTxt h4 {
    font-style: normal;
}


.char {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.charName {
    font-size: 1.5rem;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}
.charImg {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    padding: 5px;
}
.charImgRight {
    transform: scaleX(-1);
}
.charTxt, .backgroundTxt,
.endBlock .scenarioTitle {
    justify-content: center;
    padding: 0 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.backgroundBlock {
    border-radius: 50px;
    margin: auto;
}
.backgroundTxt {
    font-style: italic;
}
.backgroundTxt h4 {
    margin: 1em 0 0.5rem 0;
}
.backgroundBlock .char {
    display: block;
    height: 75%;
}
.backgroundImg {
    width: 100%;
    height: 100%;
    height: -webkit-fill-available;
    border-radius: 30px;
}

/* individual characters */
.pearson img {
    background-color: #a19d97;
}
.anna img {
    background-color: #ff9f7c;
}
.sofia img {
    background-color: #a52a2a;
}
.limei img {
    background-color: #dc8cc2;
}
.kacper img {
    background-color: #a6eaa6;
}
.sara img {
    background-color: #e1b68b;
}
.hana img {
    background-color: #efd793;
}
.mary img {
    background-color: #cc7888;
}
.luke img {
    background-color: #1e4b1c;
}

/* homepage */
#homeHtml, #homeBody {
    min-height: 100vh;
}
#homeBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#homeBody {
    overflow: auto;
    background-image: url("img/Background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
/*navbar*/
#navbarHomepage h1, #navbarHomepage .navbar a, #navbarHomepage .navbar p {
    color: #000;
}
#navbarHomepage .title {
    text-align: center;
}
#navbarHomepage #popups {
    background-color: #fff;
}
#navbarHomepage .title, #navbarHomepage .settings {
    flex: auto;
}
/*content*/
#homeMain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2rem;
    text-shadow: #ffffff 0 0 5px;
}
#homeMain .scenarioTitle {
    font-weight: bold;
}
#scenarios {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem 0;
}
.scenario {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 33%;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}
.scenario:nth-of-type(1) {
    animation-delay: 1s;
}
.scenario:nth-of-type(2) {
    animation-delay: 1.5s;
}
.scenario:nth-of-type(3) {
    animation-delay: 2s;
}
.scenario a:first-of-type {
    margin: 0 auto;
}
.scenarioImg {
    object-fit: cover;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    transform: scale(1);
    box-shadow: 0 0 15px 5px #fcf5ec;
    transition: 0.5s ease-in-out;
}
.scenarioImg:hover {
    transform: scale(1.05);
}
.scenarioTitle {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
}
#info {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
}
#instruction {
    margin: 0 0 2rem 0;
    font-size: 1.1rem;
    text-align: center;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 3s;
}
#instruction p {
    margin: 0.5rem 0;
    opacity: 0.8;
}
/*footer*/
footer {
    width: 100%;
    width: -webkit-fill-available;
    padding: 0 1rem;
    font-size: 0.8rem;
    text-align: center;
    opacity: 0;
    animation: fade-in 1s ease-in-out forwards;
    animation-delay: 3.5s;
}
footer p {
    opacity: 0.4;
}

/*popups*/
div:where(.swal2-container) div:where(.swal2-popup) {
    border-radius: 30px !important;
}
div:where(.swal2-container) div:where(.swal2-popup) {
    padding: 0 !important;
}
div:where(.swal2-container) div:where(.swal2-actions) {
    margin: 1.25em auto !important;
}
div:where(.swal2-container) .swal2-html-container {
    margin: 1em 1.6em !important;
}
div:where(.swal2-container) button:where(.swal2-close) {
    color: #afafaf !important;
    transition: 0.5s ease-in-out !important;
}
div:where(.swal2-container) button:where(.swal2-close):hover {
    color: #f27474 !important;
}
div:where(.swal2-container) button:where(.swal2-close):focus,
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
    box-shadow: none !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm,
div:where(.swal2-container) button:where(.swal2-styled).swal2-deny {
    color: #000 !important;
    background-color: #c36e66 !important;
    border-radius: 30px !important;
}


/*responsiveness*/
@media screen and (max-width: 1024px) {
    .navbar .homeLink, .navbar .title, .navbar .settings {
        flex: auto;
    }
    .scenarioImg {
        width: 20vw;
        height: 20vw;
    }

    .charTxt, .backgroundTxt,
    .endBlock .scenarioTitle {
        font-size: 1.35rem;
        line-height: 1.35rem;
        min-height: 2.35rem;
        min-width: 2.35rem;
    }
    .charTxt p {
        min-height: 1.4rem;
    }
}

@media screen and (max-width: 768px) {
    /*homepage*/
    #homeMain {
        padding: 0 1rem;
    }
    #instruction {
        font-size: 1.05rem;
        line-height: 1.05rem;
        margin: 0 0 1rem 0;
    }
    #scenarios {
        margin: 1rem 0;
    }
    .scenarioImg {
        width: 30vw;
        height: 30vw;
    }

    #arrowDown {
        transform: scale(5,2.5);
        bottom: 10px;
    }
    .charImg, .endBlock .scenarioImg {
        width: 8rem;
        height: 8rem;
    }
    .charName, .title, .scenarioTitle, #info, .backgroundTxt h4 {
        font-size: 1.3rem;
        line-height: 1.3rem;
    }
    .charTxt, .backgroundTxt,
    .endBlock .scenarioTitle {
        font-size: 1.25rem;
        line-height: 1.25rem;
        min-height: 2.25rem;
        min-width: 2.25rem;
    }
    .charTxt p {
        min-height: 1.3rem;
    }
    .charTxt:after {
        border-width: 0 30px 30px 0;
        left: -23px;
    }
    .blockRight .charTxt:after {
        right: -23px;
        border-width: 30px 30px 0 0;
    }

    #swal2-html-container h4 {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}

@media screen and (max-width: 576px) {
    /*homepage*/
    #scenarios {
        flex-direction: column;
        gap: 1rem;
    }
    .scenario {
        flex-direction: row;
    }
    .scenarioTitle {
        margin: auto 0 auto 1.5rem;
        text-align: left;
    }
    .scenario a:first-of-type {
        margin: auto 0;
    }
    #info {
        font-size: 1.2rem;
        line-height: 1.2rem;
        padding: 0.75rem;
    }
    #instruction {
        font-size: 1rem;
        line-height: 1rem;
    }


    #arrowDown {
        transform: scale(4,2);
    }
    .navbar {
        padding: 1rem 0.7rem !important;
    }
    .charImg, .endBlock .scenarioImg {
        width: 7rem;
        height: 7rem;
    }
    .charName, .backgroundTxt h4 {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }
    .charTxt, .backgroundTxt,
    .endBlock .scenarioTitle {
        font-size: 1.1rem;
        line-height: 1.1rem;
        padding: 0 0.7rem;
        margin: 0.7rem;
        min-height: 2.1rem;
        min-width: 2.1rem;
    }
    .charTxt p {
        min-height: 1.1rem;
        margin: 0.5rem 0;
    }
    .charTxt:after {
        border-width: 0 20px 20px 0;
        left: -14px;
        bottom: 20%;
    }
    .blockRight .charTxt:after {
        right: -14px;
        bottom: 20%;
        border-width: 20px 20px 0 0;
    }

    #swal2-html-container h3 {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }
}

@media screen and (max-width: 480px) {
    /* homepage */
    footer {
        font-size: 0.9rem;
        line-height: 0.9rem;
        padding: 0 0.7rem;
    }
    .scenarioTitle {
        margin: auto 0 auto 1rem;
    }
    #info {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }
    #instruction {
        font-size: 0.9rem;
        line-height: 0.9rem;
    }

    #arrowDown {
        bottom: 7px;
    }
    .backgroundTxt h4 {
        font-size: 1rem;
        line-height: 1rem;
    }
    .title {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    #popups {
        font-size: 0.7rem;
        line-height: 0.7rem;
        width: 4.5rem;
    }
    .charImg, .endBlock .scenarioImg {
        width: 6rem;
        height: 6rem;
    }
    .characters .charImg {
        width: 5rem;
        height: 5rem;
    }
    .charName{
        font-size: 0.9rem;
        line-height: 0.9rem;
    }
    .characters .charName {
        font-size: 0.8rem;
        line-height: 0.8rem;
    }
    .charTxt, .backgroundTxt,
    .endBlock .scenarioTitle {
        font-size: 0.9rem;
        line-height: 0.9rem;
        min-height: 1.9rem;
        min-width: 1.9rem;
    }
    .charTxt p {
        min-height: 0.9rem;
    }
    #swal2-html-container h3 {
        font-size: 1.1rem;
        line-height: 1.1rem;
    }
}


  
  
  
  
  
